# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/

# Environment variables
.env
.env.*

# Logs
logs/
*.log

# Database
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebooks
.ipynb_checkpoints/

# Alembic
migrations/versions/*.pyc

# VSCode
.vscode/ 